.DS_Store
node_modules
/build
/examples
/public
/src
/tests
.browserslistrc
report*.html
ll-ui*.tgz


# local env files
.env*

.eslintignore
.eslintrc.js
.gitignore
.hintrc
.prettierrc.js
babel.config.js
crlf2lf.js
jest.config.js
postcss.config.js
vue.config.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
