@import "~element-ui/packages/theme-chalk/src/common/var";
$ll-table-hover-color: '#67C23A';

.ll-table {
  display: flex;
  flex-direction: column;
  &::before, &::after {
    display: table;
    content: '';
  }
  &::after {
    clear: both;
  }
  &__toolBar {
    min-height: 47px;
  }
  &__table {
    height: auto;
  }
  &__pager {
    margin: 1rem 0;
    min-height: 32px;
  }
  &__extra {
    min-height: 32px;
    padding: 10px 0;
  }
  &__pagination {
    float: none;

    .el-button {
      background-color: #FFFFFF;
      border: 1px solid #DCDFE6;
      :hover {
        color: #FFFFFF;
      }
    }
    .el-button--primary {
      background-color: $--color-primary;
      border-color: $--color-primary;
      :hover {
        color: #FFFFFF;
      }
    }
    .el-button--success {
      background-color: $--color-success;
      border-color: $--color-success;
      :hover {
        color: #FFFFFF;
      }
    }
    .el-button--info {
      background-color: $--color-info;
      border-color: $--color-info;
      :hover {
        color: #FFFFFF;
      }
    }
    .el-button--warning {
      background-color: $--color-warning;
      border-color: $--color-warning;
      :hover {
        color: #FFFFFF;
      }
    }
    .el-button--danger {
      background-color: $--color-danger;
      border-color: $--color-danger;
      :hover {
        color: #FFFFFF;
      }
    }
  }
  &__filter-column {
    &-warp {
      padding: 6px 15px 15px;
    }
    &-icon {
      font-size: 16px;
      cursor: pointer;
    }
    &-cellbox {
      padding: 5px 0;
    }
    &-button {
      margin: 10px 0 0;
      text-align: right;
    }
  }
  &__sort-column {
    &--dragable {
      cursor: move !important;
    }
    &--drop-over {
      border: 1px dashed #{$ll-table-hover-color};
    }
  }

  &__drag-row {
    &--ghostClass {
      opacity: 0.8;
    }
    &--chosen {
      background-color: #f3efdf !important;
    }
  }

  .el-input__suffix {
    right: 0;
    .el-button {
      margin: 0;
      border-radius: 0;
    }
    .el-button--default {
      border-radius: 0 4px 4px 0;
    }
  }

  // 表格内容上中下布局，中间内容区自适应撑开，上部工具栏和下部分页栏固定高度
  &-tcd {
    height: 100%;
    .ll-table {
      &__toolBar {
        flex-shrink: 0;
      }
      &__table {
        flex-grow: 2;
        overflow-y: hidden;
      }
      &__pager, &__extra {
        flex-shrink: 0;
      }
      &__body-wrapper {
        height: auto !important;
      }
    }
  }
}
